html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans Condensed';
  padding: 2rem 6rem;
}

a {
  color: black;
  text-decoration: none;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
