.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 8rem;
}

.directory-menu {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.menu-item {
  width: 30%;
  height: 24rem;
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 .75rem 1.5rem;

  &:first-child {
    margin-right: .75rem;
  }

  &:last-child {
    margin-right: .75rem;
  }

  .content {
    height: 9rem;
    padding: 0 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid black;

    .title {
      font-weight: bold;
      margin-bottom: .6rem;
      font-size: 2.2rem;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 1.6rem;
    }
  }
}